# Aliases

alias ...=../..
alias ....=../../..
alias .....=../../../..
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias c='clear'
alias diff='diff --color'
alias egrep='egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias fgrep='fgrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias l='ls -lh'
alias ll='ls -lAh'
alias ls='ls --color=tty'
