@import "../themes/catppuccin.rasi"

* {
    background-color: @bg-col;
    text-color: @fg-col;
	font: "JetBrainsMono Nerd Font 12";
}

window {
    width: 230px;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    border-color: @blue;
    location: center;
    y-offset: -2em;
}

entry {
    expand: true;
    text-color: @blue;
}
