# Aliases
alias ..='cd ../'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='clear'
alias diff='diff --color'
alias egrep='egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias fgrep='fgrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias ls='ls --color=auto'
alias l='exa'
alias ll='exa -lh'
alias lll='exa -lah'
alias la='exa -a'
alias vim='nvim'
alias quit='exit'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
