# `sheldon` configuration file
# https://sheldon.cli.rs
shell = "zsh"

[templates]
# Defers loading of plugin (requires romkatv/zsh-defer)
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"
defer-more = "{% for file in files %}zsh-defer -t 0.5 source \"{{ file }}\"\n{% endfor %}"

# `sheldon` will source plugins in order they are defined below
[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

# Additional completion definitions for Zsh
[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ["defer-more"]

# Fish shell like autosuggestions
[plugins.zsh-autosuggestions]
github = 'zsh-users/zsh-autosuggestions'
use = ["{{ name }}.zsh"]
apply = ["defer"]

# ZSH port of Fish history search (up arrow)
[plugins.zsh-history-substring-search]
github = 'zsh-users/zsh-history-substring-search'
apply = ["defer"]

# Better (customisable) syntax highlighting for ZSH
[plugins.fast-syntax-highlighting]
github = 'zdharma-continuum/fast-syntax-highlighting'
apply = ["defer"]

# ZSH plugin that reminds you to use existing aliases
[plugins.zsh-you-should-use]
github = 'MichaelAquilina/zsh-you-should-use'
apply = ["defer-more"]

# Extends vi mode
[plugins.zsh-vi-mode]
github = 'jeffreytse/zsh-vi-mode'

# Git + FZF
[plugins.git-fuzzy]
github = "bigH/git-fuzzy"
dir = "bin"
apply = ["PATH"]

# Initialize completion stuff
# This should be defined last for completions to work properly
[plugins.compinit]
inline = "autoload -Uz compinit && compinit"
